local/
*.so
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.txt
*.d
*.ncu-rep
__pycache__/
*/printouts/*
.vscode/
.clangd
*.out
tests/unit_tests
tests/build
Nemotron_Super/NVIDIA-Nemotron-3-Super-120B-A12B-NVFP4/*.safetensors
Nemotron_Super/NVIDIA-Nemotron-3-Super-120B-A12B-NVFP4/model.safetensors.index.json
